<div class="form-group">
    <label for="name" class="col-sm-2 control-label">Name</label>
    <div class="col-sm-10">
        <input type="text" ng-model="garage.name" class="form-control" id="name" placeholder="Vehicle Name"/>
    </div>
</div>
<div class="form-group">
    <label for="description" class="col-sm-2 control-label">Description</label>
    <div class="col-sm-10">
        <input type="text" ng-model="garage.description" class="form-control" id="description" placeholder="Vehicle Description"/>
    </div>
</div>
<div class="form-group">
    <label for="condition" class="col-sm-2 control-label">Condition</label>
    <div class="col-sm-10">
        <input type="text" ng-model="garage.condition" class="form-control" id="condition" placeholder="Vehicle Condition"/>
    </div>
</div>
<div class="form-group">
    <label for="type" class="col-sm-2 control-label">Type</label>
    <div class="col-sm-10">
        <input type="text" ng-model="garage.type" class="form-control" id="type" placeholder="What sort of vehicle is this?"/>
    </div>
</div>
<div class="form-group">
    <label for="litre" class="col-sm-2 control-label">Litre</label>
    <div class="col-sm-10">
        <input type="text" ng-model="garage.litre" class="form-control" id="litre" placeholder="Vehicle Litre"/>
    </div>
</div>
<div class="form-group">
    <label for="age" class="col-sm-2 control-label">Age</label>
    <div class="col-sm-10">
        <input type="text" ng-model="garage.age" class="form-control" id="age" placeholder="Age of Vehicle"/>
    </div>
</div>
<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <input type="submit" class="btn btn-primary" value="Save"/>
    </div>
</div>
