<!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container text-center">
        <h2>Godwin's Garage</h2>
        <img src="/images/Garage.jpg" class="img-rounded img-responsive"/>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-12 text-center">
          <h2>Enter My Garage</h2>
          <p><a class="btn btn-default" href="#/garages" role="button">Vehicle List &raquo;</a></p>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; Awesome!</p>
      </footer>
    </div> <!-- /container -->
